body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('D:\Desktop\edc-website\public\images\image.jpg'); /* Use the relative path from the public folder */
  background-size: auto;
  background-position: top left;
  background-repeat: repeat;
  color: #f5f5f5;
  overflow-x: hidden;
}

.container {
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  text-align: center;
  padding: 50px 0;
}

.header h1 {
  font-size: 3em;
  color: #ffd700;
}

.section {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 0; /* Remove default margins between sections */
}

.section:not(:first-child) {
  margin-top: 0; /* Ensure no space at the top of each section except the first one */
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
